
$tg-expander-padding: 7px;
$tg-expander-width: 5px;

@mixin scale-grid($primary-stylename: v-grid-tiny, $scale-factor: 0.85) {
	$border-factor: 0.75;

	$v-grid-row-height-old: $v-grid-row-height;
	$v-grid-header-font-size-old: $v-grid-header-font-size;
	$v-grid-cell-padding-horizontal-old: $v-grid-cell-padding-horizontal;
	$v-font-size-old: $v-font-size;
	$v-unit-size--small-old: $v-unit-size--small;
	$v-font-size--small-old: $v-font-size--small;

	$v-grid-row-height: ceil($v-table-row-height * $scale-factor * $border-factor);
	$v-grid-header-font-size: ceil($v-table-header-font-size * $scale-factor);

//	$v-grid-cell-padding-horizontal: 1.5 * $v-table-cell-padding-horizontal * $scale-factor;
	$v-grid-cell-padding-horizontal: round($v-table-cell-padding-horizontal * $scale-factor * $border-factor);

	$v-font-size: ceil($v-font-size * $scale-factor);
	$v-unit-size--small: round($v-unit-size * $v-scaling-factor--small);
	$v-font-size--small: ceil($v-font-size * $v-scaling-factor--small);

	@include valo-grid($primary-stylename: $primary-stylename);

	.#{$primary-stylename} {
		font-weight: normal;
	}

	$v-grid-row-height: $v-grid-row-height-old;
	$v-grid-header-font-size: $v-grid-header-font-size-old;
	$v-grid-cell-padding-horizontal: $v-grid-cell-padding-horizontal-old;
	$v-font-size: $v-font-size-old;
	$v-unit-size--small: $v-unit-size--small-old;
	$v-font-size--small: $v-font-size--small-old;
}

@mixin grid-levels($primary-stylename: v-grid-tiny) {
	$v1: 250;
	$v2: 230;
	$c1: rgb($v2, $v1, $v1);
	$c2: rgb($v1, $v2, $v2);
	$c3: rgb($v2, $v1, $v2);
	$c4: rgb($v2, $v2, $v1);

	.#{$primary-stylename}-header .#{$primary-stylename}-cell, .#{$primary-stylename}-row > td {

		&.depth-0 {
			@include valo-gradient($c1);
		}
		&.depth-1 {
			@include valo-gradient($c2);
		}
		&.depth-2 {
			@include valo-gradient($c3);
		}
		&.depth-3 {
			@include valo-gradient($c4);
		}
	}
	.pivot-ui-cols {
		.v-ddwrapper-index-0 > * {
			@include valo-gradient($c1);
		}
		.v-ddwrapper-index-1 > * {
			@include valo-gradient($c2);
		}
		.v-ddwrapper-index-2 > * {
			@include valo-gradient($c3);
		}
		.v-ddwrapper-index-3 > * {
			@include valo-gradient($c4);
		}
	}
}

// Prefix all selectors in your theme with .demo
@mixin pivot {
	.pivot {
		.v-grid-tiny-header {
			.v-button-pivot-grid-expander {
				height: inherit;
				padding-left: 0px;
				&:focus:after {
					box-shadow: none;
				}
				.v-button-wrap .v-icon {
					font-size: 125%;
				}
			}
		}
		.row-header {
			font-weight: bold;
		}
		@include grid-levels;

		.v-tree-grid-expander {
			padding-left: 4px;
		}
		@include scale-grid;

		.v-gridlayout-slot > .v-ddwrapper {
			$v-grid-border-color-source: $v-grid-row-background-color;
			border: valo-border($color: $v-grid-border-color-source, $strength: 0.8);
			padding: 4px;
			.v-button {
				line-height: 1.75;
				height: inherit;
				text-align: right;
			}
		}

		.v-grid-tiny-cell {
			height: 25px !important;
		}
	}
}
